{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создание темы — MiniForum{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">
      <h3 class="mb-4">Создать новую тему</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Создать тему</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
